page-produto {
  .ativo {
    color: #28a745 !important;
  }
  .inativo {
    color: #f53d3d !important;
  }
  .icon-empty {
    zoom: 3.5;
  }
  .avatar {
    padding: 3px;
    border: 1px solid #eaeaea;
  }
}
